.vieri {
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

#tehtava1 {
  background-color: orange;
}

#tehtava2 {
    background-color: pink;
}

#tehtava3 {
    background-color: yellow;
}

#tehtava4 {
    background-color: lightgreen;
}

#tehtava5 {
    background-color: blue;
}

#tehtava6 {
    background-color: cyan;
}

#tehtava7 {
    background-color: palevioletred;
}

#tehtava8 {
    background-color: purple;
}

#tehtava9 {
    background-color: lightblue;
}

#tehtava10 {
    background-color: antiquewhite;
}

#tehtava11 {
    background-color: darkslateblue;
}
